@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@700&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/
body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.575);
}

main{
    background-image: url("FUNDO.svg");
    background-repeat: no-repeat;
    background-size:100%;
    max-width:600px;
    margin: auto;
}

h1{ 
    font-family: 'Nunito Sans';
    font-weight:700;
    font-size:63px;
    color:#162347;
    margin-top: 0px;
    margin-bottom:56px;
    padding-top:16px;
    text-align:center;
    line-height: 70px;
    text-shadow: 0px 3.03812px 3.03812px rgba(0, 0, 0, 0.25);
}

span{
    font-family: 'Inter';
    font-weight:400;
    font-size: 20px;
    display:block;
    line-height: 25px;
}

section{
    width:525px;
    margin: auto;
}

div{
    width:110px;
    height: 110px;
    margin-right:93px;
    margin-bottom: 100px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

div:nth-child(even){
    background-color: #FFFFFF;
}
div:nth-child(odd){
    background-color: #162347;
}
div:nth-child(3n){
    margin-right: 0;
}
div:nth-child(1n+7){
    margin-bottom: 0px;
}

#img3{
    position: absolute;
    bottom: 0;
    right:37px;
}

#img4{
    position: absolute;
    left: 13px;
}

#img5{
    position: absolute;
    bottom: -9px;
    left:-85px;
}

#img6{
    position: absolute;
    bottom: -18px;
    right:71px;
}

#img7{
    position: absolute;
    bottom: -21px;
    left:-7px;
}

footer{
    margin-top:90px;
    padding-bottom: 23px;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size:15px;
    line-height:18px;
}

nav{
    background-color:#050a16;
    padding:10px;
}

nav, a{
    text-align:center;
    color:#fff;
    font-size:15px;
    font-family:'Inter';
    text-decoration: none;
}

a{
    margin-right:20px;
}

a:hover{
    font-size: 20px;
    transition: 0.2s ease-in-out 100ms;
    color: #dde6ff;
}
