@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Inter';
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.575);
}
main{
    background-color: #162347;
    width:610px;
    padding-top: 120px;
    padding-bottom:120px;
    margin:auto;
}

section{
    display: inline-block;
    width:240px;
    vertical-align: top;
    position: relative;
}

section:first-child{
    padding-left:32px;
    padding-right:25.5px;
    border-right: 2px solid #FFFFFF;
}

section:last-child{
    margin-left:25px;
    padding-right: 34px;
}

p{
    text-align: justify;
    text-indent:20px;
    font-size:12px;
    line-height: 14.54px;
}

section p:first-child{
    margin-top:0;
}

section p:last-child{
    margin-bottom:0;
}

span{
    width:8px;
    font-weight: 900;
    margin-left:auto;
    display: block;
    position:absolute;
    bottom:-84px;
    right:34px;
}

nav{
    background-color:#050a16;
    padding:10px;
}

nav, a{
    text-align:center;
    color:#fff;
    font-size:15px;
    font-family:'Inter';
    text-decoration: none;
}

a{
    margin-right:20px;
}

a:hover{
    font-size: 20px;
    transition: 0.2s ease-in-out 100ms;
    color: #dde6ff;
}

