@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@700&display=swap');

/* ESTRUTURA DE EXIBIÇÃO */
body{
    margin:0;
    font-family:'Nunito Sans';
    color:#162347;
    background-color: rgba(0, 0, 0, 0.575);
}

main{
    width:595px;
    background-color:#FFFFFF;
    margin:auto;
    padding-top:20px;
    background-image: url("CARRINHOS.png");
    background-repeat: no-repeat;
    background-position: center 61px;
}

/* ESTILIZANDO LISTA */
ol{
    margin-left:auto;
    display: block;
    width:310px;
    list-style: none; 
    padding-bottom:72px;
}

/* ITENS DA LISTA */
li{
    border-bottom: 5px solid #162347;
}

li:first-child{
    border-top: 5px solid #162347;
}


.item-sumario, .numero{
    display: inline-block;
    vertical-align: top;
}

.item-sumario{
    width:206px
}

.numero{
    font-weight: 900;
    font-size:50px;
    line-height:68.2px;
    margin-right:11px;
}

/* TITULO */
h1{
    font-size: 100px;
    font-weight: 900;
    line-height:136.4px;
    margin-left:37px;
    margin-top:0;
}

/* SUBTITULOS */
h2{
    margin-top:0;
    padding-top:10px;
    font-size:20px;
    font-weight:800;
    color:#162347;
    margin-bottom:28px;
    widtH:300px;
}

/* PARAGRAFOS */
p{
    font-weight: 400;
    font-size:15px;
    line-height:20.46px;
    margin-bottom:32px;
    margin-top:0;
    color:#9499C0;
}

nav{
    background-color:#050a16;
    padding:10px;
}

nav, a{
    text-align:center;
    color:#fff;
    font-size:15px;
    font-family:'Inter';
    text-decoration: none;
}

a{
    margin-right:20px;
}

a:hover{
    font-size: 20px;
    transition: 0.2s ease-in-out 100ms;
    color: #dde6ff;
}

