@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body{
    margin:0;
    font-family:'Inter';
    color:#FFFFFF;
    background-color: rgba(0, 0, 0, 0.575);
}

main{
    background-color:#162347;
    width:595px;
    padding-bottom:31px;
    margin:auto;
    box-sizing: border-box;
    padding-top:31px;
}

section{
    border: 3px solid #C6C9DF;
    margin:31px;
    box-sizing: border-box;
    margin-top:0;
    margin-bottom:0;
}

img{
    display:block;
    margin:auto;
    margin-top:24px;
    margin-bottom:24px;
}

p{
    font-size:12px;
    line-height: 14.52px;
    font-weight:700;
    width: 471px;
    margin:auto;
    margin-bottom:16px;
}

.texto-inicio{
    text-align:center;
    width:484px;
    margin:auto;
    margin-bottom:16px;
    font-weight: 400;
}

#i{
    margin-bottom:40px;
}

span{
    display:block;
    width:8px;
    margin-left:auto;
    margin-right: 10px;
    font-weight: 900;
    font-size:15px;
    padding-top:63px;
}

nav{
    background-color:#050a16;
    padding:10px;
}

nav, a{
    text-align:center;
    color:#fff;
    font-size:15px;
    font-family:'Inter';
    text-decoration: none;
}

a{
    margin-right:20px;
}

a:hover{
    font-size: 20px;
    transition: 0.2s ease-in-out 100ms;
    color: #dde6ff;
}
