@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@700&display=swap');

body{
    margin:0;
    font-family:'Nunito Sans';
    background-color: rgba(0, 0, 0, 0.575);
}

main{
    width:595px;
    margin:auto;
    background-color: #FFFFFF;
    padding-top:130px;
    background-image:url("CARRINHOS.png");
    background-repeat:no-repeat;
    background-position: center 62px;
    
}

ol{
    list-style:none;
    width:307px;
    margin-left:auto;
    padding-bottom:72px;
    margin-top:0;
}

li{
    border-bottom: 5px solid #162347;
}

li:first-child{
    border-top: 5px solid #162347;
}

.numero, .item-sumario{
    display:inline-block;
    vertical-align: top;
}

.item-sumario{
    width:225px;
}

.numero{
    font-weight:900;
    font-size:50px;
    line-height:68.2px;
    color:#162347;
    margin-right:11px;
}

h2{
    color:#162347;
    font-size:20px;
    font-weight: 800;
    line-height:27.28px;
    margin-bottom:34px;
    margin-top:0;
    padding-top:10px;
}

p{
    font-weight: 400;
    font-size:15px;
    line-height:20.46px;
    margin-top:0;
    margin-bottom:50px;
    width:205px;
    color:#9499C0;
}

nav{
    background-color:#050a16;
    padding:10px;
}

nav, a{
    text-align:center;
    color:#fff;
    font-size:15px;
    font-family:'Inter';
    text-decoration: none;
}

a{
    margin-right:20px;
}

a:hover{
    font-size: 20px;
    transition: 0.2s ease-in-out 100ms;
    color: #dde6ff;
}

