@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Nunito+Sans:wght@900&display=swap');

/* ESTRUTURA DE EXIBIÇÃO */
body{
    margin:0;
    font-family: 'Inter';
    text-align: justify;
    color:#FFFFFF;
    background-color: rgba(0, 0, 0, 0.575);
}

main{
    background-color: #162347;
    width:600px;
    margin:auto;
    position: relative;
}

#container{
    padding-top:48px;
    padding-left:30px;
}

section{
    width:235px;
    display: inline-block;
    vertical-align: top;
}

section:first-child{
    border-right: 2px solid #FFFFFF;
    padding-right:31px;
}

section:last-child{
    margin-left:30px;
    padding-right:32px;
}

div{
    padding-bottom:78px;
}
/* TITULO H1 */
h1{
    text-align: center;
    padding-top:48px;
    font-size: 54px;
    font-family: 'Nunito Sans';
}

/* IMAGEM */
figure{
    margin:0;
}
/* LEGENDA DA IMAGEM */
figcaption{
    font-size:10px;
    font-weight: 300;
    text-align: center;
    width:183px;
}

/* PARAGRFOS */
p{
    font-size:12px;
    font-weight: 400;
    line-height: 14.52px;
    text-indent: 20px;
}

section p:first-child{
    margin-top:0;
}

#titulo-sublinhado{
    display: block;
    font-size: 54px;
    width:498px;
    border-bottom:#FFFFFF 2px solid;
    margin:auto
}

/* NÚMERO DA PÁGINA */
#numero{
    width:8px;
    margin-left:auto;
    display: block;
    font-weight: 900;
    font-size:15px;
    position:absolute;
    bottom:34px;
    right:34px;
}

nav{
    background-color:#050a16;
    padding:10px;
}

nav, a{
    text-align:center;
    color:#fff;
    font-size:15px;
    font-family:'Inter';
    text-decoration: none;
}

a{
    margin-right:20px;
}

a:hover{
    font-size: 20px;
    transition: 0.2s ease-in-out 100ms;
    color: #dde6ff;
}
